%h2 Update existing Movie #{@movie.title}

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, @movie.title
  = text_field :movie, :title

  = label :movie, :rating, @movie.rating
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
 
  = label :movie, :release_date, @movie.release_date
  = date_select :movie, :release_date

  = submit_tag 'Save Changes'