-#  This file is app/views/movies/index.html.haml
-# this goes just inside %body:

%h1 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to "Edit Movie", edit_movie_path(movie)
        %td= link_to 'Delete', movie_path(movie),:method =>:delete 
= link_to "\r\n    Create  A New Movie   ", new_movie_path
